.QuestionTextFieldComponent {
  &__input {
    width: calc(50% - 4px);
    height: 30px;

    select, input {
      padding-top: 0;
      padding-bottom: 0;
      height: 35px;
    }
  }

  &__mr {
    margin-right: 8px !important;
  }

  &__textBox {
    width: 100%;
    margin-top: 8px !important;
  }
}