.DetailBody {
  padding: 0 !important;
  input, div, label  {
    font-size: 14px;
    padding: 5px;
  }
  display: flex;
  flex-direction: row;
}
.CellContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}