.QuestionDetail {
  padding-top: 10px;
  div, span {
    font-size: 12px !important;
  }
  &__input {
    width: calc(50% - 4px);
  }

  &__mr {
    margin-right: 8px !important;
  }

  &__textBox {
    width: 100%;
    margin-top: 8px !important;
  }
}