.root_container {
  padding: 40px;
  h2 {
    margin-bottom: 20px;
  }
}

.project_container {
  padding: 20px;
  background-color: #e8f7ff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.recruitmeta_container {
  padding: 20px;
  background-color: #ffd9d4;
  border-radius: 10px;
  margin-bottom: 30px;
}
