.CustomModal {
    display: flex;
    justify-content: space-around;

    &__body {
        max-height: 500px;
        overflow-y: auto;
        * {
            font-size: 14px;
        }
        &__confirm {
            background-color: #FF5858 !important;
            border-color: #FF5858 !important;
        }
        &__cencle {
            &:hover {
                background-color: #FF5858 !important;
                border-color: #FF5858 !important;
            }
        }
    }

    &__footer {
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid #cccccc;

      button {
        margin: 10px 10px 10px 0;
      }
    }
}