.chart-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height:100vh;
  
  .title {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding: 20px 20px 0 20px;
  }

  .chart-container {
    width: 100%;
    display: flex;
    border-top: 1px solid #cccccc;
    margin: 20px;
    padding: 20px;
    overflow-x: auto;

    .chart-sub-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex: auto;
      flex-wrap: wrap;

      .item {
        border: 1px solid #cccccc;
        margin-top: 10px;
        padding: 10px;
        display: block;
        width: 50%;
        &:nth-child(2n) {
          border-left: 0;
        }
      }
    }
  }
}
.applier-stat-container {
  width: 100%;
  height: 100%;
  table {
    border: 1px solid black;
    border-radius: 5px;
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    border: 1px solid black;
    padding: 10px;
  }
  .total-count-container {
    margin-bottom: 10px;
    span {
      font-weight: bold;
      margin-right: 70px;
      font-size: 20px;
    }
  }
}
