.wrapper-felx {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.items {
  margin: 10px;
}

.CustomTable {
  margin-top: 10px;
  box-shadow: none !important;
  min-width: 700px;

  &__titlebar {
    font-size: 20px;
    font-weight: 500;
    margin-left: 24px;
    margin-right: 8px;
  }

  &__navbar {
    margin: 10px 8px 10px 24px;
    display: flex;
    justify-content: space-between;
    button {
      font-size: 14px;
      padding: 9px 14px;
    }
  }

  thead {
    tr {
      th {
        padding: 3px !important;
        font-size: 10px !important;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 3px !important;
        font-size: 10px !important;
      }
    }
  }
}