.QuestionDetail {
  &__radio {
    cursor: pointer;
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
    input {
      position: static;
      margin: 0;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      cursor: pointer;
    }
    span {
      margin-left: 10px;
    }
  }
}